/* css */

* {
  font-family: 'Ubuntu', sans-serif;
  ;
}

.container-fluid {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.col {
  padding: 2% 0;
}

.row {
  width: 100%;
}

.gray {
  color: #61666C;
  padding: 0 2%;
}

.center {
  text-align: center;
  padding: 2.5% 0;

}

.header {
  background-color: #2e70cd;
  text-align: center;
  color: white;
  padding: 1% 0;
}

h2 {
  font-size: 2vw;
}

p,
.textFixer {
  font-size: 1.3vw;
  margin: 0;
  padding: 1% 0;
}

h4 {
  font-size: 1.6vw;
}

.mainBody {
  display: block;
  margin:auto;
  padding: 2% 15%;
  font-size: 17px;
}

.comment {
  border: solid 1px #E7ECF0;
}

.pad {
  padding: 2% 3%;
}


video {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  border: none;
  text-align: center;
  outline: none;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 2% 0;
  /* display: none; */
  overflow: hidden;
  text-align: left;
}




.justify {
  text-align: justify;
}

.pinkBar {
  fill: rgb(255, 165, 222);
}
.blueBar {
  fill: rgb(132, 185, 248);
}

.pad {
padding: 3% 0;
}
svg {
display: block;
margin: auto;
background-color: #ffffff;
box-shadow: 0px 0px #f4f4f4;
}

.tooltip {
  width: auto;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.axis-x text {
  display: none;
}


.line1 {
  fill: none;
  stroke: #e6ab02;
  stroke-width: 3;
}

.line2 {
  fill: none;
  stroke: #e7298a;
  stroke-width: 3;
}


.overlay {
fill: none;
pointer-events: all;
}

/* Style the dots by assigning a fill and stroke
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
} */

.focus circle {
fill: none;
stroke: steelblue;
}
